@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
body{
    background: #674bb1 url(images/bg-desktop.svg) no-repeat;
    background-size: 85%;
}
h1{
    font-size: 31px;
    margin-bottom: 12px;
}
/* CLASSES */
.logo{
    height: 48px;
    margin-bottom: 65px;
}
.img-principal{
    height: 420px;
}
.container{
    margin: 46px; 
    margin-bottom: 0px;
}
.conteudo-direita{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
    padding-top: 10px;
}
.conteudo-direita p{
    font-weight: 300;
}
.centro{
    display: flex;
}
footer{
    margin-right: 92px;
}
footer img{
    height: 35px;
    margin: auto 3px;
    padding: 2px;
    float: right;
    border-radius: 100%;

}
footer img:hover{
    background-color: #e980e7;
}

/*  BUTTON  */

.button {
    font-size: 14px;
    font-weight: 500;

    color: #674bb1;
    background: white;

    width: 155px;
    height: 45px;

    border-radius: 40px;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.336);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 400ms;
}

.button:hover {
    color: white;
    background-color: #e980e7;
    text-decoration: none;
}

a {
    font-weight: 600;
    color: #5A4FBE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width:55em) {
    body{
        margin: 0;
    }
    h1{
        font-size: 21px;
        text-align: center;
    }
    .container{
        margin: 28px;
    }
    .centro{
        display: flex;
        flex-direction: column;
    }
    .img-principal{
        height: 220px;
        width: 304px;
        margin-left: 44px;
    }
    .logo{
        height: 33px;
        margin-bottom: 45px;
    }
    .conteudo-direita{
        margin-left: 20px;
    }
    .conteudo-direita p{
        font-size: 14px;
        text-align: center;
    }
    .button{
        height: 42px;
        width: 240px;
        margin-left: 44px;
    }
    footer img{
        float: none;
        height: 30px;
        margin: 0px 3px;
    }
    footer a{
        padding-top: 20px;
    }
    footer{
        text-align: center;
        width: 100%;
    }
}


